sudo: required
language: generic
env:
  global:
    - secure: "KjC0De7NK+ZJkpNtu3ghwcvQbTRa8BvzsBgsgPg2IEX0hTwc/J93ZLfLfJ5xi1nmBHE3uKm3EgBWKLHIOT/ZyswmIQyQ5XccbOxS4GBlyFw3qdIUM2MTnDcyrKO6ddyEs8v4mEcPp+bnej6d8wRCIUFi+0NzKiM5KjIglTl+c7M="  # DOCKER_EMAIL
    - secure: "XtzWEUyfh8d2AD+d143WmZFqIhovDyILIoRlwGC6KjH8LzFxyKvHWo02yNA2/TG5Iq22qAMARpjipDeEJH8SWtOLP/1H5id0W8ue5lVCUa5IZRXr+rD3OB08is2Y0X+2suCQmj95dTfQ9fxSre9ClGLV5QMgbJuBJKPzezHvTAU="  # DOCKER_PASS
    - COMMIT=${TRAVIS_COMMIT::8}
services:
  - docker
after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - export REPO=bouncestorage/swift-aio
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -f Dockerfile -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO
